<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kurser</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/" class="current">Startsida</a></li>
                <li><a href="/about">Om</a></li>
                <li><a href="/add">Lägg till kurs</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Kurser</h1>
        <!-- Lista med kurser. För varje kurs visas detaljer och en 'Ta bort'-knapp. -->
        <ul>
            <% courses.forEach(course => { %>
                <li class="course">
                    <p><strong>Kurskod:</strong> <%= course.coursecode %><br></p>
                    <p><strong>Kursnamn:</strong> <%= course.coursename %><br></p>
                    <p><strong>Progression:</strong> <%= course.progression %><br></p>
                    <p><strong>Kursplan:</strong> <a href="<%= course.syllabus %>">Länk</a></p>
                    <form action="/delete/<%= course.id %>" method="POST">
                        <button type="submit">Ta bort</button>
                    </form>
                </li>
            <% }) %>
        </ul>
    </main>
    <footer>
        <p>Alexander Hilding</p>
    </footer>
</body>
</html>